body {
  background-color: rgb(205, 253, 237);
}
.my-container {
  /* background-color: rgb(205, 253, 237); */
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  display: flex;
}

p {
  width: max-content;
}
#NumberID:hover {
  cursor: pointer;
  background-color: lightgrey;
  color: black;
}
#my-div {
  margin: 1em;
  padding: 1em;
  width: fit-content;
  display: flex;
  background-color: lightgrey;
  border-radius: 0.8em;
  justify-content: center;
  box-shadow: 0px 0px 10px rgb(95, 95, 95);
}

/* #my-div:hover {
  background-color: gray;
  color: white;
} */

img {
  width: 2in;
  height: auto;
  border-radius: 0.5em;
}
img:hover {
  scale: 1.1;
}

#div-info {
  /* margin: 1em;
  padding: 1em;
  width: 1.6in;
  background-color: lightgrey;
  border-radius: 2em;
  border-style: groove;
  justify-content: center; */
  padding: 1em;
}

#pAlive {
  color: green;
}
#pDead {
  color: red;
}
#pUnknown {
  color: gray;
}
